/**
 * Admin Customizer Stylesheet
 *
 * @package Memberlite
 */

.customize-control {
	margin-bottom: 20px;
}

.customize-control-radio,
.customize-control:has(.settings-heading) {
	margin-bottom: 10px;
}

.customize-control-title.settings-heading {
	background: #fff;
	border-top: 1px solid #dcdcde;
	border-bottom: 1px solid #dcdcde;
	margin: 8px -12px 0;
	padding: 10px;
}

.customize-control-description {
	margin-bottom: 10px;
}

label + .customize-control-description {
	margin-top: 5px;
}
