/**
 * Admin Customizer Stylesheet
 *
 * @package Memberlite
 */

.customize-control {
	margin-bottom: 20px;
}

.customize-control-radio,
.customize-control:has(.settings-heading) {
	margin-bottom: 10px;
}

.customize-control-title.settings-heading {
	background: #fff;
	border-top: 1px solid #dcdcde;
	border-bottom: 1px solid #dcdcde;
	margin: 8px -12px 0;
	padding: 10px;
}

.customize-control-description {
	margin-bottom: 10px;
}

label + .customize-control-description {
	margin-top: 5px;
}

/* Branding experiements */

.customize-control label {
	text-transform: uppercase;
}

#customize-theme-controls .customize-pane-child {
	background: #fff;
}

#accordion-section-memberlite_typography_options > h3 .accordion-trigger,
#accordion-section-colors > h3 .accordion-trigger,
#accordion-section-memberlite_breadcrumbs_options > h3 .accordion-trigger {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: .5rem;
}
