/*--------------------------------------------------------------
Inverted Color Profiles for Dark Backgrounds
--------------------------------------------------------------*/
.site-footer .site-info p,
.site-footer .site-info .columns:first-child a {
	color: #FFFFFF99;
}
h1 a:hover,
h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover,
h6 a:hover,
.navigation a {
	border-bottom-color: inherit;
}
hr {
	background-color: #FFFFFF99;
}
.wp-caption,
.wp-caption-text {
	color: var(--memberlite-color-action);
}
div.lead p,
p.lead {
	color: inherit;
}
#site-navigation {
	border-top: none;
}
.footer-navigation ul,
.footer-navigation.footer-widgets-empty ul,
.main-navigation a,
.meta-navigation ul li,
.header-right .widget_nav_menu ul li,
.footer-navigation ul li,
.entry-content,
.post .entry-footer,
.page .entry-content .entry-content,
.pmpro_content_message,
#secondary .widget-title,
.widget_calendar #wp-calendar caption,
#secondary .widget a,
#secondary .widget a:link,
#secondary .widget_pmpro_member_login .pmpro_login_wrap,
#secondary .widget_pmpro_member_login .pmpro_logged_in_welcome_wrap,
#pmpro_levels .post h2,
thead th,
td,
.main-navigation ul.sub-menu a,
.meta-navigation ul.sub-menu a,
.header-right .widget_nav_menu ul.sub-menu a,
.site-main .page-navigation,
.site-main .page-links {
	border-color: #00000066;
}
#primary .hentry .entry-meta,
.post .entry-footer,
#secondary .widget a,
#secondary .widget a:link,
#secondary .widget h3.wp-block-heading,
.wp-block-image figcaption,
form.pmpro_form .lite,
.pmpro_btn-cancel,
.pmpro_nolink,
.pmpro_nolink:link,
.pmpro_cancel,
.pmpro_cancel:link,
a.pmpro_cancel:link,
.content-area .pmpro_btn.pmpro_cancel,
.content-area .pmpro_btn.pmpro_btn-cancel,
.content-area .pmpro_btn.pmpro_btn-cancel:link,
.content-area .pmpro_btn.pmpro_btn-cancel:visited {
	color: #FFFFFFCC;
}
.post .entry-footer,
.widget-area .widget a:not(.btn):not(.pmpro_btn) ,
#secondary .widget-title,
#secondary .widget h3.wp-block-heading {
	border-bottom: none;
}
.widget-area .widget a:hover:not(.btn):not(.pmpro_btn) {
	color: #FFF;
}
#primary .hentry .entry-meta a,
#primary .entry-footer a {
	color: #FFFFFFCC;
}
#primary .hentry .entry-meta a:hover,
#primary .entry-footer a:hover {
	color: #FFFFFF;
}
blockquote,
.pre,
#secondary .widget-title,
#secondary .widget h3.wp-block-heading,
.post .entry-footer,
#your-profile h3,
#primary .tml-action-links,
thead th,
tbody tr:nth-child(even) th,
tbody tr:nth-child(even) td,
.pmpro_content_message,
#bbpress-forums li.bbp-header,
#secondary .widget_pmpro_member_login .pmpro_login_wrap,
#secondary .widget_pmpro_member_login .pmpro_logged_in_welcome_wrap,
.entry-author,
.main-navigation ul.sub-menu li:hover > a,
.meta-navigation ul.sub-menu li:hover > a,
.header-right .widget_nav_menu ul.sub-menu li:hover > a {
	background: #FFFFFF11;
}
.grid-list > * {
	background-color: #FFFFFF11;
	border-color: #000000CC;
}
.grid-list h1 a,
.grid-list h2 a {
	color: #FFFFFFCC;
}
.grid-list h1 a:hover,
.grid-list h2 a:hover {
	color: #FFF;
}
.grid-list a.post-thumbnail-link .post-thumbnail-empty {
	background-color: #00000033;
}
.comment,
.comment.depth-1.thread-alt,
.comment .comment.alt,
.comment.odd .child-comments .comment {
	background: none;
}
mark,
ins {
	color: #000;
}
.search-form input[type=search],
#mobile-navigation .search-form input[type=search] {
	background: #FFFFFF11;
	color: #FFFFFFCC;
}
.content-area input[type=text],
.content-area input[type=email],
.content-area input[type=url],
.content-area input[type=password],
.content-area input[type=search],
.content-area textarea,
#secondary input[type=text],
#secondary input[type=email],
#secondary input[type=url],
#secondary input[type=password],
#secondary input[type=search],
#secondary textarea,
.footer-widgets input[type=text],
.footer-widgets input[type=email],
.footer-widgets input[type=url],
.footer-widgets input[type=password],
.footer-widgets input[type=search],
.footer-widgets textarea,
#mobile-navigation input[type=text],
#mobile-navigation input[type=password] {
	color: #FFF;
	background: none;
	border-color: #FFFFFF80;
}

/* Comments */
.comment,
.pingback,
.trackback {
	border-color: #FFFFFF19;
}
.comment,
.pingback.even,
.trackback.event {
	background: none;
}
.comment.depth-1.thread-alt,
.comment .comment.alt {
	background: #FFFFFF19;
}
.comment.even .child-comments .comment {
	background: none;
}
.comment.odd .child-comments .comment {
	background: #FFFFFF19;
}
.comment-meta .comment-author.vcard {
	color: #FFF;
}
.comment-meta .comment-metadata .edit-link {
	border-left-color: #FFFFFF4C;
}
.comment-respond .comment-notes, .comment-respond .form-allowed-tags {
	color: #FFFFFFCC;
}

/*--------------------------------------------------------------
bbPress specific CSS
--------------------------------------------------------------*/
.bbp-pagination {
	color: #AAA;
}
#bbpress-forums div.even,
#bbpress-forums ul.odd,
#bbpress-forums div.even,
#bbpress-forums ul.even {
	background: none;
}
