/** Block Editor Custom Styles **/

/* Custom Settings Panel Icons */
.memberlite-custom-settings .components-panel__body-title button svg {
	order: -1;
	margin-right: 5px;
}

label[for="memberlite-menu-location-select"] {
	font-size: 11px;
	font-weight: 500;
	line-height: 1.4;
	text-transform: uppercase;
	display: block;
	margin-bottom: calc(8px);
	padding: 0;
}

#memberlite-menu-location-select {
	width: 100%;
	min-height: 40px;
	padding-inline: 12px 30px;
}
