/**
 * WooCommerce specific CSS
 *
 */

.woocommerce:where(body:not(.woocommerce-uses-block-theme)) .woocommerce-breadcrumb {
	color: var(--memberlite-color-page-masthead);
	font-size: var(--wp--preset--font-size--14);
}

.woocommerce:where(body:not(.woocommerce-uses-block-theme)) .woocommerce-breadcrumb a {
	color: var(--memberlite-color-page-masthead);
}
