/*--------------------------------------------------------------
 Components: Banners
--------------------------------------------------------------*/

img.banner-image {
	height: 100%;
	left: 0;
	object-fit: cover;
	position: absolute;
	top: 0;
	width: 100%;
}

#banner_bottom {
	background-color: var(--memberlite-color-secondary);
	color: var(--memberlite-color-white);
	padding: 4rem 0;

	p {
		font-size: var(--wp--preset--font-size--21);
	}

	h1, h2, h3, h4, h5 {
		color: var(--memberlite-color-white);
		margin: 0 0 1.6rem 0;

		a {
			color: var(--memberlite-color-white);
			text-decoration: none;
			border-bottom: 1px dotted var(--memberlite-color-white);
		}
	}
}
