/*--------------------------------------------------------------
10.5 Comments
--------------------------------------------------------------*/
#comments {
	margin-bottom: var(--wp--preset--spacing--20);
}

.comment,
.pingback,
.trackback {
	border: 1px dotted var(--memberlite-color-borders);
}

.comment .comment-body,
.pingback,
.trackback {
	padding: var(--wp--preset--spacing--20);
}

.comment,
.pingback.even,
.trackback.event {
	background-color: light-dark( color-mix(in srgb, var(--memberlite-color-site-background), black 1%), color-mix(in srgb, var(--memberlite-color-site-background), white 3%) );;
}

.comment.even .child-comments .comment {
	background-color: var(--memberlite-color-borders);
}

.comment.odd .child-comments .comment {
	background-color: var(--memberlite-color-white);
}

.comment {
	hyphens: auto;
	margin: 0 var(--wp--preset--spacing--20) var(--wp--preset--spacing--20) var(--wp--preset--spacing--20);
	overflow-wrap: break-word;
}

.comment.depth-1 {
	margin: 0;
}

.comment-content a {
	overflow-wrap: break-word;
}

.comment .comment-meta .comment-author.vcard {
	display: grid;
	grid-gap: calc(var(--wp--preset--spacing--10) / 2);
	grid-template-columns: 40px auto auto;
	justify-content: start;
}

.comment .comment-meta .avatar {
	border-radius: 50%;
	display: inline-block;
}

.comment-meta .comment-author.vcard .fn {
	font-size: var(--wp--preset--font-size--21);
}

.bypostauthor {
	border-left-width: 10px;
	border-style: solid;
}

.bypostauthor .comment-meta .comment-author.vcard .fn:after {
	content: "\f007";
	font-family: 'Font Awesome 5 Free';
	font-size: var(--wp--preset--font-size--14);
	font-weight: 900;
	margin-left: 5px;
	margin-top: -2px;
}

.comment-meta .comment-metadata,
.comment-awaiting-moderation {
	font-size: var(--wp--preset--font-size--14);
	margin: 0 0 var(--wp--preset--spacing--10) 0;
}

.comment .comment-meta .comment-metadata {
	margin-left: 50px;
}

.comment-meta .comment-metadata .edit-link {
	border-left: 1px solid var(--memberlite-color-borders);
	grid-area: edit-link;
	margin: 0 0 0 .7rem;
	padding: 0 0 0 .7rem;
}

.comment-awaiting-moderation {
	font-style: italic;
}

.comment-respond {
	margin-top: var(--wp--preset--spacing--20);
}

.comment .comment-respond {
	margin: 0 var(--wp--preset--spacing--20);
}

.comment-respond .comment-notes,
.comment-respond .form-allowed-tags {
	font-style: italic;
}

.comment-respond label {
	display: inline-block;
	text-align: right;
	margin: 0 .7rem 1rem 0;
}

.comment-respond p.comment-form-cookies-consent label {
	display: inline;
	text-align: left;
	margin: 0 0 0 .7rem;
}

.comment-respond p {
	position: relative;
}

.comment-respond p.logged-in-as,
.comment-respond p.comment-notes {
	font-size: var(--wp--preset--font-size--14);
}

.comment-repond input[type=checkbox],
.comment-repond input[type=radio] {
	margin-right: .5em;
}

.comment-respond .form-allowed-tags,
.comment-respond .form-allowed-tags code {
	font-size: var(--wp--preset--font-size--14);
}

.pingback h4.comment-author {
	margin: 0;
}

.pingback .comment-meta-item {
	font-size: var(--wp--preset--font-size--14);
}

.pingback .comment-content p:last-child {
	margin-bottom: 0;
}

.says {
	@include screen-reader-only;
}

