@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
/*--------------------------------------------------------------
 3.7 Components: Tooltips

 Covers: Header/Footer variation tooltips on the front-end
--------------------------------------------------------------*/

.site-header:not(.site-header-default),
.site-footer:not(.site-footer-default) {
	@include breakpoint(tablet) {
		position: relative;
	}

	&:hover {
		>.memberlite-variation-part-edit-link {
			@include breakpoint(tablet) {
				opacity: 1;
			}
		}
	}
}

.memberlite-variation-part-edit-link {
	opacity: 0;
	transition: opacity 0.2s ease-in-out;
	position: absolute;
	left: 0;
	right: 0;
	z-index: 10;
	width: max-content;
	padding: 0;
	border: 2px solid var(--memberlite-color-site-background);
	border-radius: var(--wp--custom--border--radius);
	box-shadow: $btn-shadow;

	svg {
		fill: currentColor;
		width: 25px;
		height: auto;
	}

	a {
		display: flex;
		align-items: center;
		gap: 5px;
		padding: 10px 15px;
		border-radius: var(--wp--custom--border--radius); //repeated to prevent weird clip effect
		background-color: var(--memberlite-color-text);
		font-size: 14px;
		font-weight: 700;
		color: var(--memberlite-color-site-background);
		text-decoration: none;
		text-transform: uppercase;
		letter-spacing: 1px;
	}

	&:after {
		position: absolute;
		left: 50%;
		content: "";
		height: 0;
		width: 0;
		pointer-events: none;
		border: 10px solid transparent;
		margin-left: -10px;
	}

	&#edit-memberlite-header {
		bottom: -48px;

		&:after {
			bottom: 100%;
			border-bottom-color: var(--memberlite-color-text);
		}
	}

	&#edit-memberlite-footer {
		top: -48px;

		&:after {
			top: 100%;
			border-top-color: var(--memberlite-color-text);
		}
	}
}
