/*--------------------------------------------------------------
15.0 Responsive Styles
--------------------------------------------------------------*/
@media only screen and (min-width: 1160px) {
	.hide-screen {
		display: none;
	}

	.single.sidebar-blog-none .alignwide,
	.home.page-template-default .alignwide,
	.page-template-default.sidebar-none .alignwide,
	.page-template-full-width .alignwide,
	.page-template-fluid-width .alignwide,
	.page-template-narrow-width .alignwide,
	.page-template-blank .alignwide {
		margin-left: calc(50% - var(--wp--style--global--wide-size) / 2);
		margin-right: calc(50% - var(--wp--style--global--wide-size) / 2);
		max-width: var(--wp--style--global--wide-size);
		width: auto;
	}

}

@media only screen and (min-width: 960px) and (max-width: 1160px) {
	.hide-screen {
		display: none;
	}

	.single.sidebar-blog-none .alignwide,
	.home.page-template-default .alignwide,
	.page-template-default.sidebar-none .alignwide,
	.page-template-full-width .alignwide,
	.page-template-fluid-width .alignwide,
	.page-template-narrow-width .alignwide,
	.page-template-blank .alignwide {
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
		max-width: 1000%;
		width: auto;
	}

}

@media only screen and (min-width: 768px) and (max-width: 959px) {
	.hide-mobile {
		display: none;
	}

	.single.sidebar-blog-none .alignwide,
	.home.page-template-default .alignwide,
	.page-template-default.sidebar-none .alignwide,
	.page-template-full-width .alignwide,
	.page-template-fluid-width .alignwide,
	.page-template-narrow-width .alignwide,
	.page-template-blank .alignwide {
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
		max-width: 1000%;
		width: auto;
	}

}

@media only screen and (max-width: 767px) {
	.hide-mobile {
		display: none;
	}

	.single.sidebar-blog-none .alignwide,
	.home.page-template-default .alignwide,
	.page-template-default.sidebar-none .alignwide,
	.page-template-full-width .alignwide,
	.page-template-fluid-width .alignwide,
	.page-template-narrow-width .alignwide,
	.page-template-blank .alignwide {
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
		max-width: 1000%;
		width: auto;
	}

	.alignfull {
		margin-right: -2.35rem;
		margin-left: -2.35rem;
	}

	.header-right,
	.site-navigation-sticky-wrapper,
	#site-navigation {
		display: none;
	}

	.site-header {
		padding: 0 calc(var(--wp--preset--spacing--10) / 2);
	}

	.site-header .row {
		align-items: center;
		display: grid;
		grid-column-gap: calc(var(--wp--preset--spacing--10) / 2);
		grid-template-columns: 6fr 1fr;
		grid-template-areas: "site-branding menu-toggle";
	}

	.site-header .site-branding {
		grid-area: site-branding;
		margin: var(--wp--preset--spacing--10) 0;
		padding: 0;
		width: 100%;
	}

	.site-header .mobile-navigation-bar {
		grid-area: menu-toggle;
		text-align: right;
	}

	.site-title a {
		width: 100%;
		height: auto;
		background-size: contain;
	}

	img.alignleft,
	img.alignright,
	.wp-block-image figure.alignleft,
	.wp-block-image figure.alignright {
		clear: both;
		display: block;
		float: none;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	.comment-respond label {
		display: block;
		text-align: left;
		width: 100%;
	}

	.comment-respond input[type=text],
	.comment-respond input[type=email],
	.comment-respond input[type=url],
	.comment-respond textarea {
		width: 100%;
	}

	.comment-respond .form-allowed-tags,
	.comment-respond .form-submit,
	.comment-respond .comment-subscription-form {
		margin-left: 0;
	}

	.comment-respond .form-submit input[type=submit] {
		width: 100%;
	}

	.pmpro_levels-div {
		text-align: center;
	}

	.pmpro_levels-div .entry-footer .alignright,
	.pmpro_levels-2col .entry-footer .alignright {
		display: block;
		float: none;
		margin: 0 0 var(--wp--preset--spacing--20) 0;
	}

	#pmpro_levels.pmpro_advanced_levels-compare_table {
		display: none;
	}

	#pmpro_levels.pmpro_advanced_levels-compare_table_responsive {
		display: block;
	}

	.pmpro_member_profile_edit_wrap .pmpro_checkout_box-user .pmpro_member_profile_edit-fields {
		display: block;
	}

	.home .masthead {
		text-align: center;
	}

	#primary .post.hentry .entry-header,
	.masthead-post-byline {
		grid-template-columns: 1fr;
		grid-template-areas: "avatar" "title" "meta";
	}

	#primary .hentry .entry-header .entry-title {
		hyphens: none;
		word-wrap: normal;
		overflow-wrap: normal;
	}

	.masthead h1 {
		margin-top: var(--wp--preset--spacing--10);
		hyphens: none;
	}

	.masthead .post_author_avatar {
		margin-top: var(--wp--preset--spacing--10);
		text-align: center;
	}

	.entry-author {
		display: block;
		text-align: center;
	}

	.footer-widgets {
		padding: 0;
	}

	.footer-widgets .widget {
		padding-top: var(--wp--preset--spacing--30);
		padding-bottom: var(--wp--preset--spacing--30);
	}

	.site-footer .site-info .skip-link {
		margin-top: var(--wp--preset--spacing--10);
	}

}
