@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

/*--------------------------------------------------------------
 1.5 Base | Global: Buttons
--------------------------------------------------------------*/

button:not(.wp-block-accordion-heading__toggle):not(.menu-toggle),
input[type=button],
input[type=reset],
input[type=submit],
.btn,
a.comment-reply-link,
.wp-block-search .wp-block-search__button {
	@include button-base;
	color: var(--wp--preset--color--base);
}

button.inline-form-button,
input[type=button].inline-form-button,
input[type=reset].inline-form-button,
input[type=submit].inline-form-button {
	padding: var(--wp--preset--spacing--10);
}

a.comment-reply-link,
a.btn.skip-link {
	padding: calc(var(--wp--preset--spacing--10) / 2) var(--wp--preset--spacing--10);
}

a.btn.skip-link {
	font-size: var(--wp--preset--font-size--14);
}

button:where(:not(.pmpro_btn, .pmpro_btn-plain, .menu-toggle, .wp-block-accordion-heading__toggle)):hover,
button:where(:not(.pmpro_btn, .pmpro_btn-plain, .menu-toggle, .wp-block-accordion-heading__toggle)):focus,
button:where(:not(.pmpro_btn, .pmpro_btn-plain, .menu-toggle, .wp-block-accordion-heading__toggle)):active,
input[type=button]:hover,
input[type=button]:focus,
input[type=button]:active,
input[type=reset]:hover,
input[type=reset]:focus,
input[type=reset]:active,
input[type=submit]:hover,
input[type=submit]:focus,
input[type=submit]:active,
.btn:hover,
.btn:focus,
.btn:active {
	background-color: var(--wp--preset--color--buttons-hover);
	box-shadow: $btn-shadow-hover;
}

a.comment-reply-link:focus,
a.comment-reply-link:hover {
	border: none;
	box-shadow: $btn-shadow-hover;
	text-shadow: none;
}

.btn_info {
	background-color: $color-info-text;
}

.btn_success {
	background-color: $color-success-text;
}

.btn_error {
	background-color: $color-error-text;
}

.btn_alert {
	background-color: $color-alert-text;
}

.btn_info:hover {
	background-color: $color-info-link;
}

.btn_success:hover {
	background-color: $color-success-text;
}

.btn_error:hover {
	background-color: $color-error-link;
}

.btn_alert:hover {
	background-color: $color-alert-link;
}

.btn_primary {
	background-color: var(--memberlite-color-primary);
}

.btn_secondary {
	background-color: var(--memberlite-color-secondary);
	color: var(--wp--preset--color--base);
}

.btn_action {
	background-color: var(--memberlite-color-action);
	color: var(--wp--preset--color--base);
}

.btn_block {
	display: block;
	width: 100%;
}

.btn:has(.fa),
.btn:has(.fas),
.btn:has(.far),
.btn:has(.fab),
.btn_link:has(.fa),
.btn_link:has(.fas),
.btn_link:has(.far),
.btn_link:has(.fab) {
	align-items: center;
	display: inline-flex;
	gap: calc(var(--wp--preset--spacing--10) / 2);
}

.btn_link {
	@include button-link;

	&:hover {
		background-color: transparent;
		box-shadow: none;
		text-decoration: underline;
	}
}
