/*-- Colors ----------------------------------------*/
.pink {color: #eb4bbb; }
.dkpink {color: #9e1e6e; }
.red {color: #CC0000; }
.grey {color: #444; }
.ltgrey {color: #F2F2F2; }
/*--------------------------------------------------*/
body {background-color: #444; }
#w-preheader {background-color: #444; background-image: url(default/bg_grad-black.gif); }
#w-header {background-color: #444; background-image: url(default/bg_grad-black-alt.gif); }
#w-menu {background-color: #444;}
#w-footer {background-color: #444; background-image: url(default/bg_grad-black.gif); }
#w-base {background-image: url(default/bg_grad-black-alt.gif); }

/*-- Defaults --------------------------------------*/
a, a:link {color: #eb4bbb; }
a:hover {color: #9e1e6e; }
a.trigger, a.trigger:link {color: #005D9D; }

blockquote, .introtext, .entry-attachment, #respond, #comments {background: #EEE url(default/bg_grad-grey.gif) top left repeat-x; }
#content table, #sidebar table {border: 1px solid #D2D2D2; }
#content table th, #sidebar table thead th {color: #9e1e6e; background: #EEE url(default/bg_grad-grey.gif) top left repeat-x; border-color: #CCC; }
#content table th a, #content table thead th a:link { }
#content table tbody td, #sidebar table tbody td {border-color: #CCC; }
#content table tbody tr.odd td {background: #EEE; }
#sidebar table {background: #FFF; }
#sidebar table tfoot td {background: #FAFAFA; }

h1, h2 {color: #eb4bbb; }
h1 span, h2 span { color: #000; }
h1 a, h1 a:visited, h2 a, h1, h2 a:visited { }
h3 { color: #444; }
h4, h5, h6 { color: #777; }

h1#logo a, h1#logo a:link {background: #eb4bbb url(pink/bg_grad-pink.gif) bottom left repeat-x; }
h1#logo a:hover {background: #9e1e6e; }
#header .description {color: #DDD; }

form.general label, legend {font-weight: bold; color: #666; }

.btn-primary, .btn-primary:link, #pmpro_levels_table tbody a, #pmpro_levels_table tbody a:link {background-color: #eb4bbb; background-image: url(pink/bg_grad-pink.gif); color: #FFF; }
.btn-primary:hover, #pmpro_levels_table tbody a:hover {background: #9e1e6e; color: #FFF; }

.btn-inactive, #pmpro_levels_table tbody .active a,  #pmpro_levels_table tbody .active a:link,.btn-inactive:hover, #pmpro_levels_table tbody .active a:hover {background: #EEE url(default/bg_grad-grey.gif) 0px -5px repeat-x; }

#w-preheader .user-welcome {color: #FFF; border-right-color: #444; }
#w-preheader .user-welcome a {color: #eb4bbb; }
#w-preheader .user-welcome a:hover {color: #FFF; }
#w-preheader .user-links a {color: #FFF; }
#w-preheader .user-links a:hover {background: #444; }

#menu a {color: #FFF; }
#menu a:hover, #menu li.hover a { background: #eb4bbb; }
#menu li.current_page_item a, #menu li.current_page_parent a, #menu li.current-page-ancestor a {background: #FFF; color: #eb4bbb; }
#menu .sub-menu {background: #eb4bbb url(pink/bg_grad-pink.gif) bottom left repeat-x; border-color: #eb4bbb; }
#menu .sub-menu li a:hover {color: #DDD; text-decoration: underline; }
#menu li.current_page_item .sub-menu, #menu li.current_page_parent .sub-menu, #menu li.current-page-ancestor .sub-menu {background: #FFF; border-color: #CCC; }
#menu li.current_page_item .sub-menu li a:hover, #menu li.current_page_parent .sub-menu li a:hover, #menu li.current-page-ancestor .sub-menu li a:hover {background: #DDD; color: #eb4bbb; }

.commentlist .reply .comment-reply-link, .commentlist .reply .comment-reply-link:link {background: #EEE url(default/bg_grad-grey.gif) 0px -5px repeat-x; border: 1px solid #CCC; text-shadow: none; }
.commentlist .reply .comment-reply-link:hover {background: #eb4bbb url(pink/bg_grad-pink.gif) bottom left repeat-x; color: #FFF; }

.blogposts .introtext h1 span {color: #eb4bbb; }

#sidebar aside {background: #EEE url(default/bg_grad-grey.gif) top left repeat-x;  }
#sidebar ul li a {color: #888; }

#footer, #footer a {color: #999; }
#footer a:hover {color: #FFF; }
#footer h3 {color: #DDD; }
#footer .line {background: #333; }
#footer .bbp_widget_login form .bbp-submit-wrapper .submit {background: #EEE url(default/bg_grad-grey.gif) 0px -5px repeat-x; color: #666; border: 1px solid #CCC; }

#base {color: #999; }
#base a {color: #DDD; }
