// abstracts/_mixins.scss
@mixin breakpoint($size) {
	@if $size == mobile    { @media (max-width: 767px) { @content; } }
	@if $size == tablet    { @media (min-width: 768px) and (max-width: 959px) { @content; } }
	@if $size == desktop   { @media (min-width: 960px) { @content; } }
	@if $size == wide      { @media (min-width: 1160px) { @content; } }
}

@mixin screen-reader-only {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}
