@use "variables" as *;

@mixin breakpoint($size) {
	@if $size == mobile    { @media (max-width: 767px) { @content; } }
	@if $size == tablet    { @media (min-width: 768px) { @content; } }
	@if $size == desktop   { @media (min-width: 960px) { @content; } }
	@if $size == wide      { @media (min-width: 1160px) { @content; } }
}

@mixin screen-reader-only {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

@mixin remove-btn-defaults() {
	padding: 0;
	background: none;
	border: none;
	border-radius: 0;
	box-shadow: none;
}

@mixin button-base {
	background-color: var(--memberlite-color-button);
	border: none;
	border-radius: var(--wp--custom--border--radius);
	box-shadow: $btn-shadow;
	cursor: pointer;
	font-family: var(--memberlite-header-font), ui-sans-serif;
	font-size: var(--wp--preset--font-size--16);
	font-style: normal;
	font-weight: 700;
	display: inline-block;
	line-height: var(--wp--custom--line-height--body);
	padding: calc(var(--wp--preset--spacing--10) / 1.5) var(--wp--preset--spacing--20);
	text-align: center;
	text-decoration: none;
	text-shadow: none;
	backface-visibility: hidden;
	overflow: hidden;
	vertical-align: middle;
}

@mixin button-variant($bg, $color: var(--memberlite-color-white)) {
	background-color: $bg;
	color: $color;
}

@mixin button-link {
	background-color: transparent;
	border: none;
	box-shadow: none;
	color: var(--memberlite-color-link);
	cursor: pointer;
	display: inline-block;
	font-size: var(--wp--preset--font-size--16);
	font-style: normal;
	font-weight: 400;
	line-height: var(--wp--custom--line-height--body);
	overflow: hidden;
	padding: calc(var(--wp--preset--spacing--10) / 1.5) var(--wp--preset--spacing--20);
	text-decoration: underline;
	text-shadow: none;
	vertical-align: middle;
}

@mixin form-element-base {
	background-color: transparent;
	border: 1px solid light-dark(
		color-mix(in srgb, var(--memberlite-color-text), white 12%),
		color-mix(in srgb, var(--memberlite-color-text), black 60%)
	);
	border-radius: var(--wp--custom--border--radius);
	box-shadow: none;
	box-sizing: border-box;
	color: var(--memberlite-color-text);
	font-size: var(--wp--preset--font-size--16);
	line-height: var(--wp--custom--line-height--body);
	height: auto;
	margin: 0;
	min-height: auto;
	outline: none;
	padding: var(--pmpro--base--spacing--small, 12px);
	word-break: normal;
}

@mixin form-element-focus {
	border-color: $color-info-border;
	box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
	outline: none;
}

@mixin reset-alignment-floats-mobile {
	clear: both;
	display: block;
	float: none;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
