$color-info-bg: var(--pmpro--color--info-background, #d9edf7);
$color-info-border: var(--pmpro--color--info-border, #bce8f1);
$color-info-text: var(--pmpro--color--info-text, #31708f);
$color-info-link: var(--pmpro--color--info-link, #245269);
$color-success-bg: var(--pmpro--color--success-background, #d4edda);
$color-success-border: var(--pmpro--color--success-border, #c3e6cb);
$color-success-text: var(--pmpro--color--success-text, #0F441C);
$color-success-link: var(--pmpro--color--success-link, #2b542c);
$color-error-bg: var(--pmpro--color--error-background, #f8d7da);
$color-error-border: var(--pmpro--color--error-border, #f5c6cb);
$color-error-text: var(--pmpro--color--error-text, #721c24);
$color-error-link: var(--pmpro--color--error-link, #843534);
$color-alert-bg: var(--pmpro--color--alert-background, #fff8e0);
$color-alert-border: var(--pmpro--color--alert-border, #ffeeba);
$color-alert-text: var(--pmpro--color--alert-text, #6C5101);
$color-alert-link: var(--pmpro--color--alert-link, #66512c);

$btn-shadow: 0 2px 6px light-dark( rgba(0, 0, 0, 0.22), rgba(255, 255, 255, 0.14) );
$btn-shadow-hover: 0 3px 10px light-dark( rgba(0, 0, 0, 0.32), rgba(255, 255, 255, 0.22) );

$font-family-awesome: 'Font Awesome 5 Free';
